body {
    background-color: #F8F9FA;
}

@media (min-width: 900px) {
    button img {
        filter: grayscale(60%);
        transition: filter 300ms;
    }
}

button:hover img {
    filter: grayscale(0%);
}

.customCard {
    border-radius: 2%;
    padding: 3%;
    border: 2px solid transparent;
}

.customCard:hover {
    border-color: #000;
}